%section.panel.panel-info
  %header.panel-heading
    .row
      .form-group.col-lg-6
        = label_tag "email", "Email"
        = text_field_tag "email", cookies['email'] ? cookies['email'] : "", class: "form-control"
    .row
      .form-group.col-lg-6
        = link_to 'Next', action: :new, current_partial: :personal_details
