%section.panel.panel-info
  %header.panel-heading
    .row
      #name_form
        = label_tag "name", "Name"
        = text_field_tag "name", cookies['name'] ? cookies['name'] : ""
    .row
      #name_next_button
        = link_to 'Next', action: :new, current_partial: :email
